<h1>Dynamic Component - In Selected Position</h1>
<p>This demo shows how to dynamically lazy load a standalone component to the spot you select.</p>

<input #newTitle>
<button (click)="changeTitle(newTitle.value)">Change title directly</button>
<button (click)="setInputTitle(newTitle.value)">Change title with Set Input</button>
<br>
<!--<button (click)="addComponent()">Add Component</button>-->
<div id="dynamic-container" (click)="addComponent($event)">
  <ng-container #placeholder></ng-container>
</div>
