/* You can add global styles to this file, and also import other style files */

@keyframes grow_and_shrink {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(4.0);
  }
}

.fly {
  animation: grow_and_shrink 3s ease-in-out infinite alternate;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
