#dino-world {
  border: #1976d2 solid 1px;
  height: 100%;
  background-image: linear-gradient(rgba(23, 243, 255, 0.48), rgba(68, 166, 90, 0.75));
}

button {
  margin-right: 10px;
}

.github {
  float: right
}
